<% provide(:title, @user.name) %>

<% if signed_in? && !current_user?(@user) %>
    <% if current_user.friends.exists?(@user)%>
        <p>已为好友</p>
    <% else %>
    <%= render 'shared/add_friendship' %>
    <a href="#myModal" role="button" class="btn" data-toggle="modal">加为好友</a>
    <% end %>
<% end %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        用户名:
        <%= @user.name %>
        年龄：
        <%= get_age_des @user.age %>
        性别：
        <%= get_gender_des @user.gender %>
        学历：
        <%= get_degree_des @user.degree %>
        自我描述：
        <%= get_description_des @user.description %>

        <% unless current_user?(@user) %>
            <%= link_to '他(她)开设的课程', courses_user_path(@user)%>
        <% else %>
            <%= link_to '我开设的课程', courses_user_path(@user)%>
        <% end %>
      </h1>
    </section>
  </aside>
</div>