<% provide(:title, @lesson.name) %>


<div class="row">
    <div class="span7">

      <!-- Scroll bar present and enabled -->
      <div class="row">
        <div class="span5">
          <h1><%= "" + @lesson.name %></h1>
        </div>
        <div class="span2">
            <% if signed_in? && @lesson.belongs_to_user?(current_user.id)%>
                <p><br></p>
                <%= link_to "编辑",  edit_lesson_path(@lesson), class: "be right btn btn-primary"%>
                <%= link_to "删除", lesson_path(@lesson), :method => 'delete', class: "be_right btn btn-danger" %>
            <% end %>
        </div>
      </div>
      <div style=" height: 400px; overflow-y: scroll;" class="dialog">
        <% if signed_in? %>
            <script src="http://js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                // Enable pusher logging - don't include this in production
                Pusher.log = function(message) {
                    if (window.console && window.console.log) {
                        window.console.log(message);
                    }
                };

                var pusher = new Pusher('d6e483bc92358928a50a');
                var channel = pusher.subscribe('test_channel');
                channel.bind("my_event_" + <%= @lesson.id.to_s%>, function(data) {
                    var rowDiv = document.createElement("div");
                    rowDiv.setAttribute('class', "row");

                    var sonDiv1 = document.createElement("div");
                    sonDiv1.setAttribute("class", "span1");
                    var sonDiv2 = document.createElement("div");
                    sonDiv2.setAttribute("class", "span5");
                    var sonDiv3 = document.createElement("div");
                    sonDiv3.setAttribute("class", "span1");

                    var oImg=document.createElement("img");
                    oImg.setAttribute('src', data.gravatar_url);
                    oImg.setAttribute('alt', data.user_name);
                    sonDiv1.appendChild(oImg);

                    var userLink=document.createElement("a");
                    userLink.setAttribute('href', data.user_url);
                    var linkNode = document.createTextNode(data.user_name);
                    userLink.appendChild(linkNode);
                    sonDiv1.appendChild(userLink);

                    var messageContent=document.createElement("p");
                    messageContent.setAttribute('class', "chat_bubble");
                    var messageNode = document.createTextNode(data.message);
                    messageContent.appendChild(messageNode);
                    sonDiv2.appendChild(messageContent);
                    var brElement = document.createElement("br");
                    sonDiv2.appendChild(brElement);
                    var timeNode = document.createTextNode(data.post_time);
                    var spanElement = document.createElement("span");
                    spanElement.setAttribute("class", "be_right");
                    spanElement.appendChild(timeNode);
                    sonDiv2.appendChild(spanElement);

                    rowDiv.appendChild(sonDiv1);
                    rowDiv.appendChild(sonDiv2);
                    rowDiv.appendChild(sonDiv3);



                    document.getElementById("dialog").appendChild(rowDiv);
                    if (data.user_id == document.getElementById("current_user_id").value)
                        document.getElementById("input_content").value = "";
                });
            </script>

            <div id="dialog">
              <% @lesson.messages.each do |message| %>
                  <div class="row">
                  <div class="span1">
                      <%= gravatar_for message.user, size: 45 %>
                      <%= link_to message.user.name, message.user %>
                  </div>

                  <div class="span5">
                  <p class="chat_bubble"><%= message.content%></p>
                  <br/>
                    <span class="be_right">
                    <%= message.created_at.strftime("%Y-%m-%d %H:%M")%>
                        </span>
                  </div>
                  <div class="span1"></div>
                  </div>
              <% end %>

            </div>

        <% end %>

      </div>
      <br/><br/>
      <div>
        <%= form_tag('/messages', :method => "post", :remote => true) do %>
            <%= text_area_tag :content, nil , :id => "input_content", :rows=> 4%>
            <%= hidden_field_tag(:lesson_id, @lesson.id) %>
            <%= submit_tag "发送", class: "btn btn-primary be_right" %>
        <% end %>
      <br/>
        <h2>课堂主要内容</h2>
        <p class="p_description"><%= @lesson.description %></p>
      </div>
    </div>

    <div class="span4 offset1">
        <div class="span4 center">
          <h2>课堂导师</h2><br/>
          <%= gravatar_for @lesson.course.teacher, size: 52 %>
          <%= link_to @lesson.course.teacher.name, @lesson.course.teacher %>
        </div>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="span4 center">
        <h2>所属课程</h2><br/>
        <%= link_to @lesson.course.name, @lesson.course %>
      </div>

      <br/>
      <br/>
      <br/>
      <br/>
      <div class="span4 center">
        <h2>当前课堂状态</h2><br/>
        <% if @lesson.start_time > Time.new %><br/>
            <p class="p_lesson_not_start">尚未开始</p>
        <% elsif @lesson.start_time + @lesson.duration*60 > Time.new %>
            <p class="p_lesson_start">已经开始</p>
        <% else %>
            <p class="p_lesson_end">已经结束</p>
        <% end %>

       <br/>
        <br/>
        <br/>
        <br/>


      </div>

      <div class="span4 center">
        <h2>课堂开始时间</h2><br/>
        <p><%= @lesson.start_time.strftime("%Y-%m-%d %H:%M") %></p>

        <br/>
        <br/>
        <br/>
        <br/>


      </div>

      <br/>
      <div class="span4 center">
        <h2>学生</h2><br/>
            <ul class="users">
              <% @lesson.course.students.each do |user|%>
                  <%= render partial: 'users/user', locals: {user: user}%>
              <% end %>
            </ul>

      </div>

    </div>

</div>

<input id="current_user_id" type="hidden" name="current_user_id" value="<%= current_user.id.to_s %>">





<!--
<%= "老师：" + @lesson.course.teacher.name %>
<%= "课程名：" + @lesson.course.name %>
<%= "本节课主题：" + @lesson.name %>
<% if signed_in? && @lesson.belongs_to_user?(current_user.id)%>
    <%= link_to "编辑",  edit_lesson_path(@lesson) %>
    <%= link_to "删除", lesson_path(@lesson), :method => 'delete' %>

<% end %>
<% if signed_in? %>
    <script src="http://js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        // Enable pusher logging - don't include this in production
        Pusher.log = function(message) {
            if (window.console && window.console.log) {
                window.console.log(message);
            }
        };

        var pusher = new Pusher('d6e483bc92358928a50a');
        var channel = pusher.subscribe('test_channel');
        channel.bind("my_event_" + <%= @lesson.id.to_s%>, function(data) {
            var liElement = document.createElement("li");

            var oImg=document.createElement("img");
            oImg.setAttribute('src', data.gravatar_url);
            oImg.setAttribute('alt', data.user_name);
            liElement.appendChild(oImg);

            var userLink=document.createElement("a");
            userLink.setAttribute('href', data.user_url);
            var linkNode = document.createTextNode(data.user_name);
            userLink.appendChild(linkNode);
            liElement.appendChild(userLink);

            var position = data.message.indexOf(":");
            var user_id = data.message.substr(0, position);
            var messageNode = document.createTextNode(data.message + data.post_time);
            liElement.appendChild(messageNode);

            document.getElementById("dialog").appendChild(liElement);
            if (data.user_id == document.getElementById("current_user_id").value)
                document.getElementById("input_content").value = "";
        });
    </script>

    <div>
      <ul class="users" id="dialog">
        <% @lesson.messages.each do |message| %>
        <li>
          <% if current_user?(message.user)%>
              <%= gravatar_for message.user, size: 52 %>
              <%= link_to message.user.name, message.user %>
              <%= message.content %>
          <% else %>
              <%= message.content %>
              <%= gravatar_for message.user, size: 52 %>
              <%= link_to message.user.name, message.user %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <%= form_tag('/messages', :method => "post", :remote => true) do %>
        <%= text_area_tag :content, nil , :id => "input_content"%>
        <%= hidden_field_tag(:lesson_id, @lesson.id) %>


        <%= submit_tag "发送", class: "btn btn-large btn-primary" %>

    <% end %>
<% end %>
<input id="current_user_id" type="hidden" name="current_user_id" value="<%= current_user.id.to_s %>">

-->
