<% provide(:title, '创建课程') %>
<h1>课程创建</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@course) do |f| %>
        <%= render 'shared/error_messages', object: f.object%>
        <%= f.label :name, "课程名"%>
        <%= f.text_field :name %>


        <%= f.radio_button :kind, 0%>
        <%= f.label :kind, "个人课程", value: 0%>
        <%= f.radio_button :kind, 1%>
        <%= f.label :kind, "公共课程", value: 1%>

        <%= f.label :category_id, "课程类型"%>
        <%= f.select :category_id, array_with_index(get_all_course_category()) %>


        <%= f.label :description, "简单描述" %>
        <%= f.text_area :description %>

        <%= f.label :knowledge, "预备知识" %>
        <%= f.text_area :knowledge %>

        <%= f.label :plan, "课程计划" %>
        <%= f.text_area :plan %>

        <%= f.label :reference, "参考资料" %>
        <%= f.text_area :reference %>

        <%= f.submit "创建", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>